<div class="jumbotron">
  <h1>Página 3</h1>
  <p>...</p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>

<ul>
		<% @users.each do |thing| %>
		<li>
		<%= thing %>	
		</li>
		<% end %>
</ul>